* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

.referal-main-container {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}

.referal-main-container .referal-heading p {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}

.referal-main-container .link-detail-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.referal-main-container .link-detail-container .link-container {
    display: flex;
    height: 3rem;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    position: relative;
}

.referal-main-container .link-detail-container .link-container p {
    color: black;
}

.referal-main-container .link-detail-container .link-container button {
    background-color: white;
    border: none;
    width: 4rem;
    font-weight: bold;
    color: black;
}

.referal-main-container .link-detail-container .link-container i {
    height: 100%;
    width: 3rem;
    border: 1px solid rgb(110, 187, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 218, 172);
    color: rgb(110, 187, 34);
    position: absolute;
    top: 0;
    left: 0;
}

.referal-main-container .link-detail-container .link-container button:hover {
    cursor: pointer;
}

.balance-container {
    padding: 10px 30px;
    border: 1px solid black;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    height: 9rem;
}

.balance-container .left-half-container,
.balance-container .right-half-container {
    width: 50%;
    height: 100%;
}

.balance-container .left-half-container {
    display: flex;
}

.balance-container .left-half-container .content-container1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

.balance-container .left-half-container .content-container2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 40px;
    border-left: 1px solid black;
    gap: 10px;
}

.balance-container .left-half-container .content-container1 .available-balance {
    font-size: 17px;
    font-weight: bold;
}

.balance-container .left-half-container .content-container1 .payment {
    font-size: 45px;
    font-weight: bold;
}

.balance-container .left-half-container .content-container2 .upcomming-payment {
    font-size: 17px;
    font-weight: bold;
}

.balance-container .left-half-container .content-container2 .period {
    font-size: 12px;
    font-weight: bolder;
    color: gray;
    display: flex;
    gap: 5px;
}

.balance-container .left-half-container .content-container2 .payment {
    font-size: 24px;
    font-weight: bold;
}

.balance-container .right-half-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.balance-container .right-half-container button {
    width: 8rem;
    background-color: rgb(110, 187, 34);
    color: white;
    height: 2rem;
    border: none;
}

.balance-container .right-half-container button:hover {
    cursor: pointer;
}

.referrals {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.referral-heading {
    margin-top: 10px;
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid black;
    display: flex;
    padding: 0 20px;
}

.referral-heading .name-heading-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.referral-heading .name-heading-container p {
    font-weight: bold;
    color: gray;
}

.referral-heading .status-heading-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.referral-heading .status-heading-container p {
    font-weight: bold;
    color: gray;
}

.detail-container {
    width: 100%;
    height: 2.8rem;
    border-bottom: 1px solid black;
    display: flex;
    padding: 0 20px;
}

.detail-container .name-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.detail-container .status-value {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.detail-container .name-container p,
.detail-container .status-value p {
    font-weight: bold;
}

.detail-container .status-value .complete {
    color: rgb(101, 165, 36);
}

.detail-container .status-value .pending {
    color: rgb(73, 71, 71);
}

@media only screen and (max-width:992px) {
    .balance-container .left-half-container {
        width: 70%;
    }

    .balance-container .right-half-container {
        width: 30%;
    }

    .balance-container .left-half-container .content-container1,
    .balance-container .left-half-container .content-container2 {
        width: 50%;
    }
}

@media only screen and (max-width:700px) {
    .balance-container {
        flex-direction: column;
        height: 12rem;
    }

    .balance-container .left-half-container,
    .balance-container .right-half-container {
        width: 100%;
    }

    .balance-container .right-half-container {
        justify-content: center;
    }

    .balance-container .right-half-container button {
        width: 70%;
        border-radius: 20px;
    }
}

@media only screen and (max-width:585px) {
    .balance-container .left-half-container .content-container2{
        padding: 0;
    }
    .referral-heading .status-heading-container,
    .detail-container .status-value{
        width: 63%;
        justify-content: space-evenly;
    }
    .referral-heading .name-heading-container,
    .detail-container .name-container{
        width: 37%;
    }
    .detail-container .status-value{
        justify-content: space-evenly;
    }
    .referral-heading .name-heading-container p,
    .referral-heading .status-heading-container p{
        font-size: 15px;
    }
}